<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeViewController</key>
	<dict>
		<key>classname</key>
		<string>HomeViewController</string>
		<key>storyboard</key>
		<string>Main</string>
		<key>storyboardID</key>
		<string>HomeViewController</string>
		<key>restorationID</key>
		<string>HomeViewController</string>
		<key>navigation</key>
		<string></string>
		<key>navigationstoryboardID</key>
		<string></string>
		<key>navigationrestorationID</key>
		<string></string>
	</dict>
</dict>
</plist>
